<h1><%= current_user.username %></h1>
<section>
<h2>Recent</h2>
<% unless @recent_events.empty? %>
	<table>
		<% @recent_events.each do |event| %>
			<tr>
				<td><%= link_to domain_name(Domain.find(event.domain_id)), domain_path(event.domain_id) %></td>
				<td class="status<%= event.status_change %>"></td>
				<td><%= event.created_at %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>No recent activity.</p>
<% end %>
</section>
<section>
<h2>Accounts</h2>
<% unless current_user.accounts.empty? %>
	<ol>
		<% current_user.accounts.each do |account| %>
			<li><%= link_to account.name, account_path(account.id) %></li>
		<% end %>
	</ol>
<% else %>
	<p>No accounts.</p>
<% end %>
</section>