<h1>Edit <%= domain_name(@domain) %></h1>
<%= form_for(@domain) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
  <ul class="forms">
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </li>
    <li>
      <%= f.label :account_id %>
      <%= f.text_field :account_id %>
    </li>
    <li>
      <%= f.label :check_interval %>
      <%= f.text_field :check_interval %>
    </li>
  </ul>
<%= f.submit "Submit" %>
<% end %>
