<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= csrf_meta_tag %>
</head>
<body>
<header>
	<nav>
		<% if signed_in? %>
		<%= link_to "Sign out", signout_path %>
		<% else %>
		<%= link_to "Sign up", signup_path %>
		<%= link_to "Sign in", signin_path %>
		<% end %>
	</nav>
</header>
<%= yield %>

</body>
</html>
